@page "/polls/vote/{id:int}"
@using WebApplication2.Data.Entities
@model PollModel
@{
    ViewData["Title"] = "Home page";
}
<h3>@Model.Poll.Question</h3>
<a href="/polls" class="btn btn-primary">
    <i class="fa-solid fa-arrow-left-long"></i>
</a>
<hr />
<div class="row">
    
    @foreach (Answer answer in Model.Poll?.Answers)
    {
        @answer.AnswerText
    }
</div>


